/// Definições padrão para o website
* {
    font-family: 'Metropolis';
}

.text-blue {
    color: $colorFonts !important;
}

.opacity-all {
    opacity: 1 !important;
}

@include keyframes(widthTitle) {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.center-title {
    text-align: center;
}

