{
  "parser": "babel-eslint",
	"extends": ["esnext/style-guide", "plugin:import/errors", "plugin:import/warnings"],
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "config/webpack.common.js"
			}
		}
	}
}
