{
	"parser": "babel-eslint",
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "config/webpack.common.js"
			}
		}
	},
	"rules": {
		"prettier/prettier": ["error"],
		"import/no-extraneous-dependencies": "off",
		"no-restricted-syntax": "off",
		"import/no-unresolved": "off",
		"no-console": "off",
		"no-new": "off",
		"no-var": "error",
		"no-unused-vars": "warn"
	},
	"env": {
		"browser": true,
		"node": true
	}
}
