<footer class="mt-2 text-blue">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10 text-center text-md-left">
                Copyright © <span id="year"></span> <strong>Realiza</strong> e <strong>Alper
                    Consultoria em Seguros</strong> - Todos
                os direitos reservados
            </div>
            <div class="col-6 col-lg-1 text-center text-lg-right">
                <picture>
                    <source srcset="../assets/images/logo-realiza.webp" type="image/webp">
                    <source srcset="../assets/images/logo-realiza.png">
                    <img src="../assets/images/logo-realiza.png" class="logo-realiza img-fluid logo-menu"
                        alt="Logo Realiza" />
                </picture>

            </div>
            <div class="col-6 col-lg-1 text-center text-lg-left">
                <picture>
                    <source srcset="../assets/images/logo-alper.webp" type="image/webp">
                    <source srcset="../assets/images/logo-alper.png">
                        <img src="../assets/images/logo-alper.png" class="img-fluid logo-menu"
                        alt="Alper Consultoria em Seguros" />
                </picture>
            </div>
        </div>
    </div>
</footer>