<nav class="navbar navbar-expand-lg navbar-light bg-white py-0" style="box-shadow: 0 1px 40px;">
    <div class="navbar-brand d-none d-lg-block">
        <picture>
            <source srcset="../assets/images/logo-realiza.webp" type="image/webp">
            <source srcset="../assets/images/logo-realiza.png">
            <img src="../assets/images/logo-realiza.png" class="logo-realiza img-fluid logo-menu mr-2"
                alt="Logo Realiza" />
        </picture>
        <picture>
            <source srcset="../assets/images/logo-alper.webp" type="image/webp">
            <source srcset="../assets/images/logo-alper.png">
            <img src="../assets/images/logo-alper.png" class="logo-alper img-fluid logo-menu"
                alt="Alper Consultoria em Seguros" />
        </picture>
    </div>
    <div class="d-block d-lg-none py-2 w-100">
        <div class="row align-items-center">
            <div class="col-2">
                <a href="#" id="openMobile">
                    <span class="navbar-toggler-icon"></span>
                </a>
            </div>
            <div class="col-8">
                <div class="row align-items-center">
                    <div class="col-6">
                        <picture>
                            <source srcset="../assets/images/logo-realiza.webp" type="image/webp">
                            <source srcset="../assets/images/logo-realiza.png">
                            <img src="../assets/images/logo-realiza.png" class="img-fluid logo-menu"
                                alt="Logo Realiza" />
                        </picture>
                    </div>
                    <div class="col-6">
                        <picture>
                            <source srcset="../assets/images/logo-alper.webp" type="image/webp">
                            <source srcset="../assets/images/logo-alper.png">
                            <img src="../assets/images/logo-alper.png" class="img-fluid logo-menu"
                                alt="Alper Consultoria em Seguros" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-collapse d-none d-lg-block">
        <ul class="navbar-nav menu-desktop modify-list-menu ul-menu" id="modify-list-menu">
            <li class="nav-item li-menu px-4">
                <a class="nav-link text-blue" href="index.html">
                    Home
                </a>
            </li>
            <li class="nav-item li-menu px-4">
                <a class="nav-link text-blue" href="assistencia-auto.html">
                    Assistência Auto
                </a>
            </li>
            <li class="nav-item li-menu px-4">
                <a class="nav-link text-blue" href="assistencia-residencial.html">
                    Assistência Residencial
                </a>
            </li>
            <li class="nav-item li-menu px-4">
                <a class="nav-link text-blue" href="assistencia-pet.html">
                    Assistência Pet
                </a>
            </li>
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-blue" href="faq.html">
                        FAQ
                    </a>
                </li>
            </ul>
        </span>
    </div>
</nav>
<div class="navbar-mobile px-4 d-block d-lg-none">
    <div class="overflow-auto d-block text-right">
        <a href="#" class="iconeCloseMobile">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <ul class="navbar-nav mr-auto modify-list-menu">
        <li class="nav-item my-1">
            <a class="nav-link" href="index.html">
              <svg style="max-height: 20px; max-width: 23px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="mr-2 svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg> Home
            </a>
        </li>
        <li class="nav-item my-1">
            <a class="nav-link" href="assistencia-auto.html">
                <picture>
                    <source srcset="../assets/images/icones/taxi_menu.webp" type="image/webp">
                    <source srcset="../assets/images/icones/taxi_menu.png">
                    <img src="../assets/images/icones/taxi_menu.png" class="mr-2" alt="" /> Assistência Auto
                </picture>
            </a>
        </li>
        <li class="nav-item my-1">
            <a class="nav-link" href="assistencia-residencial.html">
                <picture>
                    <source srcset="../assets/images/icones/residencial_menu.webp" type="image/webp">
                    <source srcset="../assets/images/icones/residencial_menu.png">
                    <img src="../assets/images/icones/residencial_menu.png" class="mr-2" alt="" /> Assistência
                    Residencial
                </picture>
            </a>
        </li>
        <li class="nav-item my-1">
            <a class="nav-link" href="assistencia-pet.html">
                <picture>
                    <source srcset="../assets/images/icones/pet_menu.webp" type="image/webp">
                    <source srcset="../assets/images/icones/pet_menu.png">
                    <img src="../assets/images/icones/pet_menu.png" class="mr-2" alt="" /> Assistência Pet
                </picture>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item my-1">
            <a class="nav-link" href="faq.html">
                <picture>
                    <source srcset="../assets/images/icones/faq_menu.webp" type="image/webp">
                    <source srcset="../assets/images/icones/faq_menu.png">
                    <img src="../assets/images/icones/faq_menu.png" class="mr-2" alt="" /> FAQ
                </picture>
            </a>
        </li>
    </ul>
</div>