
@mixin page-with-centered-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    #main-image-div {
        #index-logo {
            width: 50vw;
        }
        #suthub-logo {
            margin-right: 2rem;
            width: 10vw;
            opacity: 0;
        }
    }
    #buttons-div {
        width: 100%;

        button {
            width: 100%;
        }
    }
}