/// Path para pasta de imagens
/// @group Paths
$pathImages: '../images';
/// Path para pasta de banners
/// @group Paths
$pathBanner: $pathImages+'/banners';
/// Path para pasta de ícones
/// @group Paths
$pathIcones: $pathImages+'/icones';

/// @group Colors
$bgDecoration: #00C487;
/// @group Colors
$btnBannerColor: #0081B4;
/// @group Colors
$colorFonts: #004685;