////
/// Sass Variables
/// @group sass-variables
////

// Cores
// Usando o palette: https://colorhunt.co/palette/167893

$darkest: #111111;
$darker: #333333;
$dark: #555555;
$light: #777777;
$lighter: #999999;